<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>李梦佳的作业</title>
</head>
<style>
    div{
        position: relative;
        width: 175px;
        height: 233px;
        background-image:url("女孩.png");
        background-position: 0 0;
        animation: girl 1s steps(10) infinite,
        girl2 1s forwards;
    }
    @keyframes girl{
        0%{background-position: 0 0;}
        100%{background-position: -1800px 0;}
    }
    @keyframes girl2{
        0%{transform: translateX(0);}
        100%{transform: translateX(500px);}
    }


</style>
<body>
    <div>

    </div>
</body>
</html>