<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>作业</title>
</head>
<body>
    <h1 style="text-align: center;">大学生暑假社会实践调查问卷</h3><br>
        <p style="color: red;">其他操作着实有点记不到了</p>
        <br>
        <br>
    <table >
            <!-- 文字 -->
            <tr>
                <td>亲爱的同学，大家好：</td>
            </tr>
            <tr>
                <td>为了更好的了解近年大家对计算机专业的看法，希望得到你的配合。祝你生活愉快，谢谢</td>
            </tr>
    </table>
    <br>
    <!-- 第一行 -->
    <table>
        <tr>
            <td>1.您的性别:</td>
            <td>
                <input type="radio" name="sex"> 男
                <input type="radio" name="sex"> 女
            </td>
        </tr>
    </table>
    <br>
    <!-- 第二行 -->
    <table>
        <tr>
            <td>2.您的学校:</td>
            <td>
                <input type="text" name="" id="">
            </td>
        </tr>
    </table>
    <br>
    <!-- 年级 -->
    <table>
        <tr>
            <td>3.您的年级：</td>
            <td>
                <select>
                    <option value="">请选择年级</option>
                    <option value="">大一</option>
                    <option value="">大二</option>
                    <option value="">大三</option>
                    <option value="">大四</option>
                </select>
            </td>
        </tr>
    </table>
    <br>
    <!-- 原因 -->
    <table>
        <tr>
            <td>4.选择该专业的原因</td><br>
        </tr>
        <tr>
            <td>
                <input type="checkbox" name="reason"> AAAA
            </td>
        </tr>
        <tr>
            <td>
                <input type="checkbox" name="reason"> BBBB
            </td>
        </tr>
        <tr>
            <td>
                <input type="checkbox" name="reason"> CCCC
            </td>
        </tr>
        <tr>
            <td>
                <input type="checkbox" name="reason"> DDDD
            </td>
        </tr>
        <tr>
            <td>
                <input type="checkbox" name="reason"> EEEE
            </td>
        </tr>
    </table>
    <br>
    <!-- 意见 -->
    <table>
        <tr>
            <td>5.您对该专业的意见：</td><br>
        </tr>
        <tr>
            <td>
                <input type="checkbox" name="advice"> 师资力量要改进
            </td>
        </tr>
        <tr>
            <td>
                <input type="checkbox" name="advice"> 更加适应社会需要
            </td>
        </tr>
        <tr>
            <td>
                <input type="checkbox" name="advice"> 加强专业建设
            </td>
        </tr>
        <tr>
            <td>
                <input type="checkbox" name="advice"> 开展更多专业活动
            </td>
        </tr>
    </table>
    <br>
    <!-- 6. 您认为该专业学生有必要参加社会实践： -->
    <table>
        <tr>
            <td>6. 您认为该专业学生有必要参加社会实践：</td>
        </tr>
        <tr>
            <td>
                <input type="radio" name="choice" > 有必要
            </td>
        </tr>
        <tr>
            <td>
                <input type="radio" name="choice" id=""> 没必要
            </td>
        </tr>
        <tr>
            <td>
                <input type="radio" name="choice" id=""> 无所谓
            </td>
        </tr>
    </table>
        <br>
        <!-- 父母的意见 -->
        <table>
            <tr>
                <td>7. 您的父母是否赞成你读该专业：</td>
            </tr>
            <tr>
                <td>
                    <input type="radio" name="parents" > 赞成
                </td>
            </tr>
            <tr>
                <td>
                    <input type="radio" name="parents" id=""> 不赞成
                </td>
            </tr>
            <tr>
                <td>
                    <input type="radio" name="parents" id=""> 无所谓
                </td>
            </tr>
        </table>
        <br>
        <!-- 学校建议 -->
        <table>
            <tr>
                <td>8.对学校的建议</td>
                
            </tr>
            <tr>
                <td>
                    <textarea name="" id="" cols="60" rows="10"></textarea>
                </td>
            </tr>
        </table>
        <br>
        <br><br>
        <table>
            <tr>
                <td>
                    <input type="submit" value="提交答案">
                </td>
                <td>
                    <input type="reset" value="清空">
                </td>
            </tr>
        </table>



</body>
</html>