<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>中国文学问卷小调查</title>
    <style>
        .ques
{
	color: #34699a; 
	font-family: impact;
	text-align:center;
}


body {
            
            background-color: rgba(206, 184, 235, 0.712);
        }

    

      </style>
</head>

<link rel="stylesheet" href="diaocha.css">
<body>
    <H1 class="ques">中国文学问卷小调查</H1>
    <body>
        
        <div class="container">
            <form action="" class="formstyle">
                性别：<input type="radio" name="sex" value="boy">boy&nbsp;
                <input type="radio" name="sex" value="girl">girl<br>
                <br>
                年龄：<input type="text" class="opstyle"><br>
                <br>
第1题   你喜欢文学作品吗？<br>
                非常喜欢<input name="cute" type="radio" value="basek"><br>
                喜欢<input name="cute" type="radio" value="basek"><br>
                一般<input name="cute" type="radio" value="basek"><br>
                不喜欢<input name="cute" type="radio" value="basek">
                <br>
                <br>
       
第2题   你是文科生还是理科生？<br>
                文科生<input name="cute" type="radio" value="basek"><br>
                理科生<input name="cute" type="radio" value="basek">
<br>
<br>

第3题   你是否经常阅读中国文学书籍？<br>
                是<input name="cute" type="radio" value="basek"><br>
                否<input name="cute" type="radio" value="basek">
<br>
<br>

第4题   你喜欢中国古代文学还是现代文学？<br>
        古代文学<input name="cute" type="radio" value="basek"><br>
        现代文学<input name="cute" type="radio" value="basek"><br>
        都喜欢<input name="cute" type="radio" value="basek"><br>
        都不喜欢<input name="cute" type="radio" value="basek">
        <br>
        <br>
第5题   你较喜欢哪几种中国文学类型？（多选）<br>
        诗歌<input type="checkbox"><br>
        戏剧<input type="checkbox"><br>
        散文<input type="checkbox"><br>
        小说<input type="checkbox">
        
        <br>
        <br>

第6题   你阅读中国文学的主要原因是什么？（多选）<br>
        打发时间<input type="checkbox"><br>
        提高文学修养<input type="checkbox"><br>
        有相关兴趣爱好<input type="checkbox"><br>
        扩大自身知识面<input type="checkbox"><br>
        <br>
        <br>

第7题   以下古代诗人你喜欢哪些？（多选）<br>
        李白<input type="checkbox"><br>
        杜甫<input type="checkbox"><br>
        王维<input type="checkbox"><br>
        李清照<input type="checkbox"><input type="checkbox"><br>
        辛弃疾<input type="checkbox"><br>
        苏轼<input type="checkbox"><br>
        白居易<input type="checkbox"><input type="checkbox"><br>
        陆游<input type="checkbox"><br>
        屈原<input type="checkbox"><br>
        曹植<input type="checkbox"><br>
        以上没有我喜欢的<input type="checkbox">
        <br>
        <br>

第8题   以下中国现当代作家你喜欢哪几位？（多选）<br>

        鲁迅<input type="checkbox"><br>
        毛泽东<inp帅气男大学生ut type="checkbox"><br>
        钱钟书<input type="checkbox"><input type="checkbox"><br>
        余华<input type="checkbox"><br>
        莫言<input type="checkbox"><br>
        三毛<input type="checkbox"><input type="checkbox"><br>
        梁实秋<input type="checkbox"><br>
        林语堂<input type="checkbox"><br>
        路遥<input type="checkbox"><br>
        沈从文<input type="checkbox"><br>
        白先勇<input type="checkbox"><br>
        史铁生<input type="checkbox"><br>
        金庸<input type="checkbox"><br>
        张爱玲<input type="checkbox"><br>
        以上没有我喜欢的<input type="checkbox">
        <br>
        <br>

        <div class="white"></div>
          <div class="item">
            <p>请说一说您对中国文学的感受（选做）</p>
            <textarea placeholder="请输入" name="advice" id="" cols="30" rows="10"></textarea>
          </div>
          <div class="white"></div>
          <div class="btnBox">
            <button type="submit">提交</button>
            <button type="reset">清空</button>
          </div>
            </form>
        </div>
    </body>
</body>


</html>