<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>调查问卷</title>
    <style>
        .biaoge{
            background-color: rgba(255, 145, 0, 0.781);
            width: 90%;
        }
        tr{
            color: rgb(19, 0, 0);
          }
    </style>
</head>
<body>
    <table align="center" border="1" cellpadding="20" cellspacing="0" width="500" class="biaoge">
        <tr>
            <td colspan="2">
                <h1>大学生暑假社会实践调查问卷</h1>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <h4>

               <div> 亲爱的同学，大家好：</div>
                
                <div>为了更好的了解近年大家对计算机专业的看法，希望得到你的配合。祝你生活愉快，谢谢</div>
                </h4></td>
        </tr>
        <tr>
            <td>    
                <span>你的性别</span>
                <span></span><input type="radio" name="sex" id="nan"><label for="nan">男</label>
                    <input type="radio" name="sex" id="nv"><label for="nv">女</label></span>
            </td>
        </tr>
        <tr>
            <td>
              <div>  你的学校：<input type="text"></div>
            </td>
        </tr>
        <tr>
            <td>
               <div> 你的年级</div>
                <select name="" id="">
                    <option value="">--请选择年级--</option>
                    <option value="">大一</option>
                    <option value="">大二</option>
                    <option value="">大三</option>
                    <option value="">大四</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <div>报考该专业的原因</div>
                <div><input type="checkbox">自己感兴趣</div>
                <div> <input type="checkbox">将来发展有利</div>
                <div><input type="checkbox">就业方便</div>
                <div><input type="checkbox">适应社会</div>
                <div><input type="checkbox">老师建议</div>
                <div><input type="checkbox">学校建议</div>
                <div><input type="checkbox">其他</div>
            </td>
        </tr>
        <tr>
            <td>
                <div> 您对该专业的建议</div>
            <div><input type="checkbox">师资力量要集中</div>
            <div><input type="checkbox">更加适应社会需要</div>
            <div><input type="checkbox">加强专业建设</div>
            <div><input type="checkbox">开展更多专业活动</div>
            </td>
           
        </tr>
        <tr>
            <td>
               <div> 您认为该专业学生有必要参加社会实践：</div>
                <input type="radio" name="biyaoxing">有必要<br>
                <input type="radio" name="biyaoxing">没有必要<br>
                <input type="radio" name="biyaoxing">无所谓<br>
            </td>
        </tr>
        <tr>
            <td>
               <div> 你对学校的建议:</div>
                <div><textarea placeholder="请输入你对学校的意见" rows="10" cols="30"></textarea></div>

            </td>
        </tr>
        <tr>
            <td>
                <span><input type="submit" value="提交答案"></span>
                <span><input type="submit" value="清空"></span>
            </td>
        </tr>
        <tr>
            <td colspan="2"><p style="font-style: oblique;font-weight: 300;" >this is made by 彭小叶</p></td>            
        </tr>
    </table>
</body>
</html>