<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>调查问卷1.0</title>
    <style>
        textarea{
            width:85%;
            height: 100px;
        }
    </style>
</head>
<body style="background-color: aqua;">
    <h1 style="text-align: center;">大学生暑假社会实践调查问卷</h1>
    <hr />
    <p>亲爱的同学，大家好：<br />为了更好的了解近年大家对计算机专业的看法，
    希望得到你的配合，祝你生活愉快，谢谢</p>
    <hr />
    <form action="" name="method" >
        1.你的性别：男<input name="xingbie" type="radio"  value="">
        女<input name="xingbie" type="radio"  value="">
        <hr />
        2.您的学校:<input type="text">
        <hr/>
        3.您的年级:<select name="grade" >
            <option value="1" disabled selected>请选择你的年级</option>
            <option value="2">大一</option>
            <option value="3">大二</option>
            <option value="4">大三</option>
            <option value="5">大四</option>
        </select>
        <hr />
        4.报考专业:<br />
        <input type="checkbox" name="">自己感兴趣<br />
        <input type="checkbox" name="">将来发展有利<br />
        <input type="checkbox" name="">就业方便<br />
        <input type="checkbox" name="">适应社会<br />
        <input type="checkbox" name="">老师建议<br />
        <input type="checkbox" name="">学校建议<br />
        <input type="checkbox" name="">其他<br />
        <hr />
        5.您对该专业的建议：<br />
        <input type="checkbox" name="">师资力量要改进<br />
        <input type="checkbox" name="">更加适应社会需要<br />
        <input type="checkbox" name="">加强专业建设<br />
        <input type="checkbox" name="">开展更多专业活动<br />
        <hr />
        6.你认为该专业学生有必要参加社会实践：<br />
        <input name="yijian" type="radio"  value="">有必要<br />
        <input name="yijian" type="radio"  value="">没有必要<br />
        <input name="yijian" type="radio"  value="">无所谓<br />
        <hr />
        7.您的父母是否赞成都该专业：<br />
        <input name="yijian" type="radio"  value="">很赞成<br />
        <input name="yijian" type="radio"  value="">一般<br />
        <input name="yijian" type="radio"  value="">不知道<br />
        <hr />
        8.你对学校的意见：<br />
        <textarea placeholder="请输入答案"></textarea>
        <hr />
        <input type="submit">
        <input type="reset" value="清空">
        <hr />
        
    </form>
    <a href="https://www.bilibili.com/">MADE BY GUISPE😍❤👌</a>
</body>
</html>