<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>大学生暑假社会实践调查问卷</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
	body{background: cornflowerblue;}
</style>
</head>
<body>
	<div>
		<h1>大学生暑假社会实践调查问卷</h1>
		<h3>亲爱的同学们，大家好：为了更好的了解近年大家对计算机专业的看法，希望得到你的配合。祝您生活愉快，谢谢
		</h3>

	</div>
	<form name="form1">
		<table>
					<tr>
						<td>
						
							1.您的年级<br/>
							请您选择：
							<select name="grade" style="width: 80px;" id="gra">
								<option value="大一" selected>大一</option>
								<option value="大二">大二</option>
								<option value="大三">大三</option>
								<option value="大四">大四</option>
								<option value="研究生">研究生</option>
								<td>
									<tr>
									
								<td>
									2.您的学校<br />
									<input name="major" type="text" style="width: 200px;" id="maj"/>
								</td>						
						</td>
					</tr>
					<tr>
						<tr>
							<td>
								3.报考该专业的原因<br />
								<input name="why" type="checkbox" id="why1" />自己感兴趣<br />
								<input name="why" type="checkbox" id="why1"/>将来发展有利<br />
								<input name="why" type="checkbox" id="why1" />就业方便<br />
								<input name="why" type="checkbox" id="why1" />适应社会<br />
								<input name="why" type="checkbox" id="why1" />老师建议<br />
								<input name="why" type="checkbox" id="why1" />学校建议<br />
								<input name="why" type="checkbox" id="why1" />其他
							</td>
						</tr>
					</tr>
					<tr>
						<td>
							4.您对该专业的建议<br />
							<input name="why" type="checkbox" id="why1" />师资力量要改进<br />
							<input name="why" type="checkbox" id="why1"/>更加适应社会需要<br />
							<input name="why" type="checkbox" id="why1" />加强专业建设<br />
							<input name="why" type="checkbox" id="why1" />开展更多专业活动
							
						</td>
					</tr>




					<tr> 
						<td>
							5.您认为该专业学生有必要参加社会实践：<br />
							<input name="surr" type="radio" value="有必要" id="sur" />有必要<br />
							<input name="surr" type="radio" value="没有必要" id="sur" />没有必要<br />
							<input name="surr" type="radio" value="无所谓" id="sur" />无所谓
						</td>
					</tr>
					
					<tr>
						<td>
							6.您的父母是否赞成你读该专业<br />
							<input name="frequency" type="radio" value="几乎每天" id="fre" />很赞成<br />
							<input name="frequency" type="radio" value="每周1-2次" id="fre" />一般<br />
							<input name="frequency" type="radio" value="几乎不去" id="fre" />不知道
						</td>
					</tr>
					<tr>
						<td>
							7.您对学校的建议<br />
							<textarea name="idea" rows="5" cols="90%"  wrap="virtual" id="ide" ></textarea>
						</td>
					</tr>
					<tr>
						<td>
							<input name="sub" type="submit" value="提交答卷" />
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<input name="res" type="reset" value="清空" />
						</td>
					</tr>
				</table>
				</form>
		
</body>
</html>

