<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <html>
        <body bgcolor="#ffffff" text="blue">
            <table border="1" bgcolor="blue">
               
           

            <from action ="地址" name ="forml" method="post">
            <p>
                <h1 align="center">大学生暑假社会实践调查问卷</h1>
            </p>
            <hr />
            <p>
                亲爱的同学，大家好：
                <blockquote>为了更好地了解今年大家对计算机专业的看法，
                            希望得到你的配合。祝你生活愉快，谢谢！
                </blockquote>
                </p>
            <hr />
            <p>
                <blockquote>
                1.您的性别：男<input name ="aihao" type ="radio">  女<input name ="aihao" type ="radio">
                </blockquote>
            </p>
            <hr />
            <p>
                <blockquote>
                2.您的学校：<input type ="text">
                </blockquote>
            </p>
            <hr />
            <p>
                <blockquote>
                    3.您的年级：<input type ="text">
                </blockquote>
            </p>
            <hr />
            <p>
                <blockquote>
                    4.报考该专业的原因：
                    <ol>
                        <li>自己感兴趣<input name ="aihao" type ="radio"></li>
                        <li>将来发展有利<input name ="aihao" type ="radio"></li>
                        <li>就业方便<input name ="aihao" type ="radio"></li>
                        <li>适应社会<input name ="aihao" type ="radio"></li>
                    </ol>
                </blockquote>
            </p>
            <hr />
            <p>
                <blockquote>
                    5.您对该专业的建议：
                    <ol>
                        <li>师资力量要改进<input name ="aihao" type ="radio"></li>
                        <li>更加适应社会需要<input name ="aihao" type ="radio"></li>
                        <li>加强专业建设<input name ="aihao" type ="radio"></li>
                        <li>开展更多专业活动<input name ="aihao" type ="radio"></li>
                        <li>老师建议<input name ="aihao" type ="radio"></li>
                        <li>学校建议<input name ="aihao" type ="radio"></li>
                        <li>其他<input name ="aihao" type ="radio"></li>
                    </ol>
                </blockquote>
            </p>
            <hr />
            <p>
                <blockquote>
                    6.您认为该专业学生有必要参加社会实践：
                    <ol>
                        <li>有必要<input name ="aihao" type ="radio"></li>
                        <li>没有必要<input name ="aihao" type ="radio"></li>
                        <li>无所谓<input name ="aihao" type ="radio"></li>
                    </ol>
                </blockquote>
            </p>
            <hr />
            <p>
                <blockquote>
                    7.您的父母是否赞成你读该专业：
                    <ol>
                        <li>很赞成<input type ="checkbox" name ="shu"></li>
                        <li>一般<input type ="checkbox"name ="shu"></li>
                        <li>不知道<input type ="checkbox" name ="shu"></li>
                    </ol>
                </blockquote>
            </p>
            <hr />
            <p>
                <blockquote>
                    8.您对学校的建议：<input type ="text">
                </blockquote>
            </p>
            <hr />
            <input type="submit">
            <input type="reset">
           
            </from>
            </table>
        </body>
    </html>
