<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
          <form>
            <div>
              <h2>大学生暑假社会实践调查问卷</h2>
              <div></div>
              <div>
                <p>亲爱的同学，大家好：</p>
                <p>为了更好的了解近年大家对计算机专业的看法，希望得到你的配合。祝你生活愉快，谢谢</p>
              </div>
              <div></div>
              <div>
                <span>1. 您的性别：</span>
                <span style="color: black;">
                  <input type="radio"><label for="male">男</label>
                  <input type="radio"><label for="female">女</label>
                </span>
              </div>
              <div class="white"></div>
              <div class="item">
                <span>2. 您的学校：</span>
                <input type="text">
              </div>
              <div>
                <span>3. 您的年级</span>
                <select>
                  <option value="00" disabled selected>请选择你的年级</option>
                  <option value="01">大一</option>
                  <option value="02">大二</option>
                  <option value="03">大三</option>
                  <option value="04">大四</option>
                </select>
              </div>
              <p>4. 报考该专业的原因</p>
                <div><input type="checkbox"  ><label >自己感兴趣</label></div>
                <div><input type="checkbox"  ><label >将来发展有利</label></div>
                <div><input type="checkbox"  ><label >就业方便</label></div>
                <div><input type="checkbox"  ><label >适应社会</label></div>
                <div><input type="checkbox"  ><label >老师建议</label></div>
                <div><input type="checkbox"  ><label >学校建议</label></div>
                <div><input type="checkbox"  ><label >其他</label></div>
              </div>
              <p>5. 您对该专业的建议</p>
              <div><input type="checkbox"><label for="a0">师资力量要改进</label></div>
              <div><input type="checkbox"><label for="a1">更加适应社会需要</label></div>
              <div><input type="checkbox"><label for="a2">加强专业建设</label></div>
              <div><input type="checkbox"><label for="a3">开展更多专业活动</label></div>
            </div>
            <div>
            <span>6. 您认为该专业学生有必要参加社会实践：</span>
            <div class="radio">
              <div><input type="radio"><label for="s0">有必要</label></div>
              <div><input type="radio" ><label for="s1">没有必要</label></div>
              <div><input type="radio" ><label for="s2">无所谓</label></div>
              </div>
              <span>7. 您的父母是否赞成你读该专业：</span>
              <div class="radio wrap">
                <div><input ><label for="e0">很赞成</label></div>
                <div><input ><label for="e1">一般</label></div>
                <div><input ><label for="e2">不知道</label></div>
                <div>
                    <p>8. 您对学校的建议：</p>
                    <textarea placeholder="请输入你对学校的意见" name="advice" id="" cols="30" rows="10"></textarea>
                  </div>
                  <div>
                    <button type="submit">提交答案</button>
                    <button type="reset">清空</button>
                  </div>
        
</body>
</html>