<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form表单联系</title>
</head>
<body>
    <div id="container" style="width:500px">

        <div id="header" style="background-color:#0084ff;">
        <h1 style="margin-bottom:0;">大学生暑假社会实践调查问卷</h1></div>
        <hr/>
        
        <div id="content" style="background-color:#0084ff;height:2400ox;width:500px;float:left;">
            <p>亲爱的同学，大家好：
                <blockquote></blockquote>
            为了更好的了解近些年大家对计算机专业的看法，希望得到你的配合。祝你生活愉快，谢谢
                </blockquote>
            </p>
            <hr/>
            <form>
                <blockquote>
              1.您的性别：<input type="radio"name="sex"value="男">男<input type="radio"name="sex"value="女">女<br>
                </blockquote><hr/>
                <blockquote>
              2.您的学校:<input type="2.您的学校"name="2.您的学校"><br>
                </blockquote><hr/>
                <blockquote>
            <span>3. 您的年级</span>
              <select name="grade" id="">
                <option value="00" disabled selected>请选择你的年级</option>
                <option value="01">大一</option>
                <option value="02">大二</option>
                <option value="03">大三</option>
                <option value="04">大四</option>
              </select><br>
                </blockquote><hr/>
                <blockquote>
              4.报考该专业的原因<br>
              <input type="checkbox"name="vehicle"value="自己感兴趣">自己感兴趣<br>
              <input type="checkbox"name="vehicle"value="将来发展有利">将来发展有利<br>
              <input type="checkbox"name="vehicle"value="就业方便">就业方便<br>
              <input type="checkbox"name="vehicle"value="社会建议">社会建议<br>
              <input type="checkbox"name="vehicle"value="老师建议">老师建议<br>
              <input type="checkbox"name="vehicle"value="适应社会">适应社会<br>
              <input type="checkbox"name="vehicle"value="其他">其他<br>
                </blockquote><hr/>
                <blockquote>
              5.您对该专业的建议<br>
              <input type="checkbox"name="vehicle"value="师资力量要改进">师资力量要改进<br>
              <input type="checkbox"name="vehicle"value="更加适应社会需求">更加适应社会需求<br>
              <input type="checkbox"name="vehicle"value="加强专业建设">加强专业建设<br>
              <input type="checkbox"name="vehicle"value="开展更多专业活动">开展更多专业活动<br>
                </blockquote><hr/>
                <blockquote>
              6.您认为该专业学生有必要参加社会实践：<br>
              <input type="radio"name="sex"value="有必要">有必要<br>
              <input type="radio"name="sex"value="没有必要">没有必要<br>
              <input type="radio"name="sex"value="无所谓">无所谓<br>
                </blockquote><hr/>
                <blockquote>
              7.您的父母是否赞成你读该专业：<br>
              <input type="radio"name="sex"value="很赞成">很赞成<br><input type="radio"name="sex"value="一般">一般<br>
              <input type="radio"name="sex"value="不知道">不知道<br>
                </blockquote><hr/>
                <blockquote> 
              8. 您对学校的建议：
                    <textarea placeholder="请输入你对学校的意见" name="advice" id="" cols="30" rows="10"></textarea>
                  </div>
                  <div class="white"></div>
                  <div class="btnBox">
                </blockquote>
                 </blockquote>
                    <button type="submit">提交答案</button>
                    <button type="reset">清空</button>
                  </blockquote><hr/>
             
    
        
        
    </div>
</body>
</html>